/*----------------------------------
Global Stlyes
------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	/*one Em roughly ten pixels (16 x 62.5% = 10)*/
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
}

/*----------------------------------
Header
------------------------------------*/

.App-header {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #001;
  padding: 2.5em;
  color:#fff;
}

.App-title {
  font-size: 1.7em;
}

/*----------------------------------
main-container - holds map and listview
------------------------------------*/

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100vw;
  height: 70vh;
}

.list-view-container {
  display: flex;
  flex-direction: column;
  background: #001;
  color: #fff;
  padding: 2em;
}

h2 {
  margin-top: 0.5em;
  font-size: 1.8em;
  text-align: center;
}

.location-list .location {
  list-style: none;
  padding: 0.5em;
  font-size: 1.5em;
}

.location-filter-container {
  align-self: center;
}

.location-search {
  padding: 0.8em;
  border-radius: 0.8em;
  margin: 2em 0;
}

/*----------------------------------
Media Queries
------------------------------------*/

@media screen and (min-width: 800px) {

  .App-title {
    font-size: 2em;
  }

  .main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  #map {
    width: 75vw;
    height: 100vh;
  }

  .list-view-container {
    width: 25vw;
    height: 100vh;
    overflow: hidden;
    padding-top: 0;
  }

  /* .location-search {
    padding: 0.8em 0.1em;
  } */

  .location-list .location {
    font-size: 1.6em;
  }
}